.error-message {
  color: red;
  font-size: 0.5em
}
.search-page {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.search-input-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search-input {
  width: 150px;
  border: 1px solid blue
}